# Virtual environments
.venv/

# Python cache
__pycache__/
*.py[cod]

# Test/cache artifacts
.pytest_cache/
.coverage

# IDE settings
#.vscode/

# macOS
.DS_Store
# Added by ignite
*.pyc

# Added by ignite
.vscode/

# Added by ignite
.ipynb_checkpoints/
.env